
body{
    background: rgb(11,36,0);
    background: -moz-linear-gradient(90deg, rgba(11,36,0,1) 72%, rgba(0,94,21,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(11,36,0,1) 72%, rgba(0,94,21,1) 100%);
    background: linear-gradient(90deg, rgba(11,36,0,1) 72%, rgba(0,94,21,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0b2400",endColorstr="#005e15",GradientType=1);
}

h1{
    color: rgb(255, 255, 255); 
    font-size: 3vw;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding: 2vw;
}

h2{
    color: #dbe7e8;
    font-size: 2.3vw;
    border: rgb(16, 7, 7);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding-bottom: 2vw;
}

h3{
    color: #ccecf0;
    text-align: center;
    font-size: 2vw;
    font-family: 'Courier New', Courier, monospace;
    padding: auto;
    padding-bottom: 2vw;
    padding-top: 1vw ;
}

h4{
    color: #007ea7;
    font-size: 1.6 vw;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding-bottom: 2vw;
}

p{
     color: #CCDBDC;
     font-size: 1.4vw;
     font-family: 'Courier New', Courier, monospace;
     line-height: 1.5vw;
     padding-left: 5vw;
     padding-right: 10vw;
     padding-bottom: 2.5vw;
     
}

table.normale {
    color: rgb(156, 200, 184);
    font-family: 'Courier New', Courier, monospace;
    text-size-adjust: 1.5vw ;
    padding: 3vw;
    padding-right: 5vw;
    align-content: center;
    padding-left: 10vw;
    padding-right: 15vw;
    text-align: lefts;
}

table.main_trick_selection {
    text-align: center;
}   

th, td {
    padding: 1vw;
    text-align: left;
    border-bottom: 1px solid rgb(155, 155, 150);
  }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 2vw;
  }

#cli {
    color: rgb(57, 175, 36);
    size: 3px;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 8vw;
    font-weight: bolder;
    text-align: left;
}

footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #45a1ff;
    color: #fff;
}


/* CSS */
.button-37 {
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-37:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .button-37 {
    padding: 10px 30px;
  }
}

button.btn1 {
    background: #40c754
    
    background-image: -webkit-linear-gradient(top, #40c754, #062233);
    background-image: -moz-linear-gradient(top, #40c754, #062233);
    background-image: -ms-linear-gradient(top, #40c754, #062233);
    background-image: -o-linear-gradient(top, #40c754, #062233);
    background-image: linear-gradient(to bottom, #40c754, #062233);
    box-sizing: content-box;
    -webkit-border-radius: 12;
    -moz-border-radius: 12;
    border-radius: 12px;
    text-shadow: 1em em 3em #666666;
    -webkit-box-shadow: 7px 4px 8px #666666;
    -moz-box-shadow: 7px 4px 8px #666666;
    box-shadow: 7px 4px 8px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 2em;
    padding: 3em 3em 3em 3em;
    border: solid #4c5c66 4px;
    text-decoration: none;
  }
  
  button.btn1:hover {
    background: #e0ed7c;
    background-image: -webkit-linear-gradient(top, #e0ed7c, #79bd89);
    background-image: -moz-linear-gradient(top, #e0ed7c, #79bd89);
    background-image: -ms-linear-gradient(top, #e0ed7c, #79bd89);
    background-image: -o-linear-gradient(top, #e0ed7c, #79bd89);
    background-image: linear-gradient(to bottom, #e0ed7c, #79bd89);
    text-decoration: none;

  }

  button.btn2 {
    background: #c042c7;
    box-sizing: content-box;
    background-image: -webkit-linear-gradient(top, #c042c7, #abc3d1);
    background-image: -moz-linear-gradient(top, #c042c7, #abc3d1);
    background-image: -ms-linear-gradient(top, #c042c7, #abc3d1);
    background-image: -o-linear-gradient(top, #c042c7, #abc3d1);
    background-image: linear-gradient(to bottom, #c042c7, #abc3d1);
    -webkit-border-radius: 12;
    -moz-border-radius: 12;
    border-radius: 12px;
    text-shadow: 1px 1px 3px hwb(0 40% 60%);
    -webkit-box-shadow: 7px 4px 8px #666666;
    -moz-box-shadow: 7px 4px 8px #666666;
    box-shadow: 7px 4px 8px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 2em;
    padding: 3em 3em 3em 3em;
    border: solid #4c5c66 4px;
    text-decoration: none;
    
  }
  
  button.btn2:hover {
    background: #8d7ceb;
    background-image: -webkit-linear-gradient(top, #8d7ceb, #1c4d27);
    background-image: -moz-linear-gradient(top, #8d7ceb, #1c4d27);
    background-image: -ms-linear-gradient(top, #8d7ceb, #1c4d27);
    background-image: -o-linear-gradient(top, #8d7ceb, #1c4d27);
    background-image: linear-gradient(to bottom, #8d7ceb, #1c4d27);
    text-decoration: none;
    height: ;
  }

  .container {
    align-content: center;
  }